<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
    <button v-for="color in colors"
        v-bind:style="{backgroundColor: color}">
        {{ color }}
    </button>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                colors: [
                    'red',
                    'green',
                    'blue',
                    'pink',
                    'yellow',
                    'white'
                ],
            }
        });
    </script>    
</body>
</html>